VITE_BACKEND_URL=https://chatify-hejl.onrender.com
VITE_GIPHY_API_KEY=aj8ZqZKz98rm8640hKiARExpU7BrmrAz

VITE_TURN_URL=turn:your-turn-host:443
VITE_TURN_USERNAME=your-turn-username
VITE_TURN_CREDENTIAL=your-turn-credential
